body{
   margin: 0;
   height: 600vh;
   background-color: rgb(252, 252, 252);
   background: linear-gradient(90deg, rgba(248, 49, 49, 0.71), rgba(255, 82, 82, 0.71), rgba(253, 120, 120, 0.71), rgba(255, 161, 161, 0.71));
  
}

#contenedor{
display: flex;
    flex-direction: column;
    align-items: center;
}

#tituloPagina{
    margin-top: 1em;
    margin-top: 0;
    font-family: initial;
    font-size: 6em;
    text-align: center;
    color: rgb(37, 0, 46);
}

#tituloPagina:hover{
    font-size: 7rem;
    color:rgb(185, 94, 130)
}

#foto{
    text-align: center;
    font-size: 5em;
    width: 870px;
    height: 550px;
}

#boton {
  font-size: 2em;
  background-color: rgb(185, 94, 130);
  color: rgb(235, 179, 202);
  border-color: rgb(235, 179, 202);
  margin-bottom: 1.5em;
  cursor: pointer;
  text-align: center;
  object-position: center;
  }

#titulo1{
    text-align: center;
    font-size: 2em;
    top: 50%;
    color: rgb(37, 0, 46)
}

#titulo1:hover{
    font-size: 2.5em;
    color: rgb(124, 38, 73);
}

#prediccion1{
    text-align: center;
    font-size: 1em;
    top: 50%;
    color:rgb(37, 0, 46)
}

#prediccion1:hover{
    font-size: 1.5em;
    color:rgb(148, 64, 97)
}
